<!DOCTYPE html>
<html ng-app="ProviderApp">
<head>
<meta charset="ISO-8859-1">
<title>Conventional Annuity Product Dashboard</title>

<link rel="stylesheet" href="css/foundation.css" />
<link rel="stylesheet" href="css/ui-grid.css" />
<link rel="stylesheet" href="css/customdashboard.css" />

<script src="js/vendor/modernizr.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-resource.js"></script>
<script src="js/ui-grid-unstable.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script src="js/RetirementDash.js"></script>

</head>
<body>
	<div class="contain-to-grid sticky">
		<nav class ="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Retirement Income - Conventional Annuity</a></h1>
				</li>
				<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
				
			</ul>
			<section class="top-bar-section">
				<ul class="right">
					<li class="has-dropdown"><a href="#">Annuity</a>
						<ul class="dropdown">
							<li><a href="#">Fixed</a></li>
							<li><a href="#">Coventional</a></li>	
							<li><a href="#">Investment Linked</a></li>		
						</ul>
					</li>	

					<li class="has-dropdown"><a href="#">Income Drawdown</a>
						<ul class="dropdown">
							<li><a href="#">PPP</a></li>
							<li><a href="#">SIPP</a></li>	
							<li><a href="#">Variable</a></li>		
						</ul>					
					</li>						
					<li class="has-dropdown"><a href="#">Sector</a>
						<ul class="dropdown">
							<li><a href="#">Credit</a></li>
							<li><a href="#">Retirement</a></li>	
							<li><a href="#">Savings</a></li>		
						</ul>					
					</li>	
					
					<li class="has-form">
						<div class="row collapse" >
							<div class="large-8 small-9 columns">
								<input type="text" placeholder="Search Site">
							</div>
							<div class="large-4 small-3 columns" >
								<button type="submit" class="alert button expand">Search</button>
							</div>
						</div>
						
					</li>
				</ul>
			</section>
		</nav>
	</div>
 
  <div class="row">
		<div class="large-6 medium-6 small-6 columns">

			<div id="barchart_material" style="width: 450px; height: 300px;"></div>

		</div>
		
		<div class="large-6 medium-6 small-6 columns">

			<div id="chart_div" style="width: 450px; height: 300px;"></div>


		</div>		
	</div>		


  <div class="row">
  		<!--  Product Changes View -->
		<div class="large-6 medium-6 small-6 columns" ng-controller="ProductChangesCtrl">

			<br></br>
			<table class="GooglePaneHeader">
				<tr>
					<th>Market Entrants and Exits</th>
				</tr>
			</table>
			<table style="margin:0; padding:0;border:none">
				<tr>
					<th class="TableHeader">Exit / New</th>
					<th class="TableHeader"><a href="" ng-click="sortField= 'provider'; reverse= !reverse">Product</a></th>
					<th class="TableHeader"><a href="" ng-click="sortField= 'product'; reverse= !reverse">Provider</a></th>
					<th class="TableHeader"><a href="" ng-click="sortField= 'changeDate'; reverse= !reverse">Date</a></th>
				</tr>
				<tr ng-repeat="change in changes | filter:query | orderBy:sortField:reverse">
					<td width="25px" ng-class="{ 'changesExitImg' : change.changeType == 'Exit', 'changesNewImg' : change.changeType == 'New' }"></td>
					<td width="125px" ng-class="{ 'changesExitText' : change.changeType == 'Exit', 'changesNewText' : change.changeType == 'New' }">{{change.provider}}</td>
					<td width="155px" ng-class="{ 'changesExitText' : change.changeType == 'Exit', 'changesNewText' : change.changeType == 'New' }">{{change.product}}</td>
					<td width="70px" ng-class="{ 'changesExitText' : change.changeType == 'Exit', 'changesNewText' : change.changeType == 'New' }">{{change.changeDate}}</td>
			</table>

		</div>
		
		<div class="large-6 medium-6 small-6 columns">
			<br></br>
			<table class="GooglePaneHeader" style="margin:0; padding:0;border:none">
				<tr>
					<th>Product Range By Options</th>
				</tr>
			</table>

			<div></div>

		</div>		
	</div>		

</body>
</html>